* {
    text-align: center;
    background-color: gray;
  }

  img{
    padding-top: 10px;
    border-radius: 25% 10%;
    background-color: gray;
    width: 30%;

  }

  p{
    font-size: x-large;
  }


 